.env
#virtual environment
/.venv/
/.env/
/venv/
/env/

# python byte-compiled
__pycache__

# ide configs
/.vscode/
/.idea/

# emacs cache and backup files
\#*\#
*~

# local databases
pgdata/
pgsql/
*.sqlite3
*.db
.DS_Store